* {
    margin: 0;
    padding: 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.quizGenForm {
    padding: 60px;
    font-family: Arial, sans-serif;
}

.generatedQuiz h1 {
    font-size: 45px;
    font-weight: 300;
    color: rgb(36, 168, 150);
}

.your-answer {
    margin-top: 20vh;
}

.subheading {
    padding-top: 35px;
}

.quizGenForm form {
    margin-top: 50px;
}

.quizGenForm label {
    margin-top: 30px;
    display: block;
    color: gray;
    padding-bottom: 20px;

}

.select-wrapper {
    display: flex;
}

.quizGenForm select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,0 10,0 5,6' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    font-size: 22px;
    display: block;
    width: 100%;
    border: 0;
    border: none;
    padding-top: 12px;
    padding-bottom: 8px;
    width: 85%;
    border-bottom: 1.5px solid rgb(145, 144, 144);
}

.quizGenForm select:focus {
    outline: none;
    border-color: rgb(41, 183, 164);
}

.main-body .heading {
    font-size: 45px;
    font-weight: 300;
}

.subheading {
    padding-top: 35px;
}


.generatedQuiz {
    min-height: 80vh;
    padding: 60px;
    font-family: Arial, sans-serif;
}


.generatedQuiz form {
    margin-top: 50px;
}

.generatedQuiz label {
    margin-top: 30px;
    display: block;
    color: rgb(41, 183, 164);
    padding-bottom: 20px;

}

.generatedQuiz input {
    cursor: pointer;
    font-size: 22px;
    display: block;
    width: 100%;
    border: 0;
    border: none;
    padding-bottom: 8px;
    width: 85%;
    border-bottom: 1.5px solid rgb(145, 144, 144);
}

.generatedQuiz input:focus {
    outline: none;
    border-color: rgb(41, 183, 164);
}

.submit-btn {
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 15px 10px;
    border-radius: 2px;
    border: none;
    background-color: rgb(41, 183, 164);
    color: white;
}



#thinking-logo {
    width: 15vw;
    height: auto;
    min-width: 150px;
    display: block;
    margin: auto;
    margin-top: 30vh;
    animation: pulse 1s infinite
}

.qCounter {
    display: block;
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
}

.resultsPage {
    position: absolute;
    top: 150px;
    min-height: 100vh;
    width: 100vw;
}

.results-header {
    background-color: rgb(44, 116, 250);
    color: white;
    width: 70%;
    margin: auto;
    padding: 20px;
    font-weight: 400;
}

.results-summary {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: rgba(44, 116, 250, 0.208)
}

.result-div {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgb(145, 144, 144);
}

.result-div h2 {
    font-weight: 400;
    padding-bottom: 10px;
}

#restart {
    width: 24px;
    height: 24px;
}

.newQuiz {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    padding: 5px 20px 5px;
    background-color: white;
    border-color: rgb(44, 116, 250);
    transition: all 0.5s;
}

.newQuiz:hover {
    background-color: rgb(44, 116, 250);
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .resultsPage {
        top: 200px;
    }
}

@media screen and (max-width: 500px) {

    .quizGenForm,
    .generatedQuiz {
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    .quizGenForm .heading {
        font-size: 30px;
    }

    .quizGenForm select {
        width: 100%;
    }

    .results-summary,
    .results-header {
        width: 80%;
    }
}